.side-contents
  .header
    .header__user-info
      .header__user-info__name
        Gassy
      .header__user-info__img
        Pict
      .header__user-info__introduction
        Hello programing
  .main
    .main__user-blogs
      .main__user-blogs__title
        令和2年の目標
      .main__user-blogs__created_at
        2020/01/01