.side-contents{
  width: 300px;
  height: 100vh;
  background-color: $side_blue_dark;
  color:#fff;
  float: left;
  .header{
    height:100px;
    padding: 10px;
    background-color: rgb(23, 38, 126);
    border-bottom-color: whitesmoke;
    &__user{
      height: 100%;
      background-color: black;
      display: flex;
      &__left{
        width: 100%;
        &__name{

        }
        &__introduction{

        }
      }
      &__right{
        height: 100%;
        display: flex;
        &__img{
          width: 60px;
          margin-right: 5px;
          background-color: coral;
        }
        &__edit{
          margin-right: 5px;
        }
        &__write{
        }
      }
    }
  }
  .main{
    padding: 10px;
    &__user-blogs{
      background-color: darkgreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      margin-bottom: 10px;
      &__title{

      }
      &__created_at{

      }
    }
    &__user-blogs2{
      background-color: darkgreen;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      margin-bottom: 10px;
      &__title{

      }
      &__created_at{

      }
    }
  }
}