.chat{
  height: 100vh;
  width: calc(100vw -  1000px);
  float: left;
  background-color: $shirosumire;
  &__messages{
    height: calc(100vh - 150px);
    border-bottom-color: #eeee;
    margin: 10px 10px 10px 10px;
    background-color: $unohana;
    &__message{
      width: 100%;
      padding:10px 0;
      &__user-info{
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        &__name{

        }
        &__created_at{
          
        }
      }
      &__text{
        padding: 10px;
      }
    }
    &__message2{
      width: 100%;
      padding:10px 0;
     &__user-info{
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
        &__name{

        }
        &__created_at{
          
        }
      }
      &__text{
        padding: 10px;
      }
    }
  }
  &__form{
    height: 130px;
    background-color: $shirosumire;
    border-bottom-color: #eeee;
    padding: 10px;
    display: flex;
    &__input_box{
      width: 100%;
      padding :10px;
      background-color: $unohana;
    }
    &__submit{
      height: 100%;
      padding:0 20px;
      margin-left: 10px;
      background-color: $konpeki;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: white;
      font-size: 15pt;
    }
  }
}