.side-contents{
  width: 300px;
  height: 100vh;
  background-color: $side_blue_dark;
  color:#fff;
  float: left;
  .header{
    height:180px;
    background-color: rgb(23, 38, 126);
    border-bottom-color: whitesmoke;
    &__user-info{
      padding:10px, 15px;
      &__name{

      }
      &__img{

      }
      &__introduction{

      }
      &__edit{
        
      }
    }
  }
  .main{

  }
}